*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 90vmax;
    width: 100%;
    background-image: linear-gradient(rgba(236, 171, 171, 0.286),rgba(139, 125, 125, 0.248)),url(images/jakub-kapusnak-4f4YZfDMLeU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: top;
    
}
nav img{
    background-color: rgba(230, 200, 200, 0.704);
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}


.gallery{
    background-color: rgba(165, 42, 42, 0.495);
    width: 90%;
    margin-left: 10%;
    
}
.box_img {
    background-color: rgba(171, 18, 18, 0.579);
    display: block;
    float: left;
    width: 30%;
    padding: 10px;
}
img {
    width: 100%;

}
.footer {
    background: #2a2a2c;

}
.footer p{
    color:white;
    font-size: 29px;
    text-align: center;
}
.box  table{
    font-size: 29px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px;
    color: #fff;
}
a{
    text-decoration:none;
    color: #fff;
}